<h1>Listing registers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Comments</th>
    <th>Heard about</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%= register.firstname %></td>
    <td><%= register.lastname %></td>
    <td><%= register.gender %></td>
    <td><%= register.age %></td>
    <td><%= register.phone_number %></td>
    <td><%= register.email %></td>
    <td><%= register.comments %></td>
    <td><%= register.heard_about %></td>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Register', new_register_path %>
