<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @registrant.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @registrant.lastname %>
</p>

<p>
  <b>Gender:</b>
  <%= @registrant.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @registrant.age %>
</p>

<p>
  <b>Phone number:</b>
  <%= @registrant.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @registrant.email %>
</p>

<p>
  <b>Comments:</b>
  <%= @registrant.comments %>
</p>

<p>
  <b>Hear about:</b>
  <%= @registrant.heard_about %>
</p>

<!--
<%= link_to 'Edit', edit_registrant_path(@registrant) %> |
<%= link_to 'Return to main site', registrants_path %>
-->